#container {border: 1px solid brown;}
H1 {float: left;}
.custom{
    width:60%;
    margin:0 auto;
}
#receiptList {
    border: 1px solid green;
    display: inline-block;
    clear: both;
}
th, td {
    border: 1px solid green;
    background-color: #ffffff;
    padding: 0 5px 0 5px;
}
.receipt {
    background-color: #eee;
    margin-bottom: 5px;
}
body {
    text-align: center;
}

video {
    width: 550px;
    height: 450px;
    border: 1px solid green;
}

#vidwrap {
    margin: 20px 0;
}

#receiptInputs{
    display: none;
    padding: 10px 0px 10px 0;
}

#cameraInputs{
    display: none;
}

#start, #snapshot {
    height: 3em;
}

#camera_ico {
    width: 20px;
    height: 20px;
}

#add_ico {
    width: 20px;
    height: 20px;
}